<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Word replacement</h1>
    <br>
    <form action="WR_step2" method="POST">
        <lable for="path">What document would you like to start with?</lable>
        <select id="path" name="path">
            {% for doc in doc_list %}
            <option value="{{ doc }}">{{ doc }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Submit" id="WR_step2">
    </form>
</body>
</html>