<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Word replacement</h1>
    <br>
    <form action="result" method="post">
        <h2>Key</h2>
        <label for="arg1">Key word:</label>
        <input type="text" name="arg1">
        <br>
        <lable for="arg2">Placeholder:</lable>
        <input type="text" name="arg2">
        <br>
        <lable for="path">Path To Document:</lable>
        <select id="path" name="path">
            <option value="template.txt">Template</option>
        </select>
        <br>
        <input type="submit" value="Submit" id="result">
    </form>
</body>
</html>