<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Word replacement</h1>
    <br>
    <form action="result" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <h2>Key</h2>
        <input type="text" name="key">
        <br>
        <h2>Placeholder</h2>
        <input type="text" name="placeholder">
        <br>
        <h2>Path To Document</h2>
        <input type="text" name="path">
        <br>
        <input type="submit" value="Submit" id="result">
    </form>
</body>
</html>