<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Transaction Helper</h1>
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="Submit" id="greet">
        <br>
        <a href="/form">Text replacer</a>
        </a>
    </form>
</body>
</html>