<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Transaction Helper</h1>
    <br>

    <form action="login" method="GET">
        <input type="submit" value="Login">
    </form>
    <form action="logout" method="GET">
        <input type="submit" value="Logout">
    </form>
    <br><br>
    <form action="add_doc" method="GET">
        <input type="submit" value="Add Document">
    </form>
    <form action="WR_step1" method="GET">
        <input type="submit" value="Word Replacement">
    </form>
</body>
</html>