<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Transaction Helper</h1>

<br>
<h2> Please select a client folder or create a new one</h2>
    <form action="client_tools" method="POST">
        <lable for="client">Which Client : </lable>
        <select id="client_name" name="client_name">
            {% for name in client_list %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select" id="WR_step2">
    </form>
    <form action="new_client" method="POST">
        <label for="new_client">New Client</label>
        <input type="text" id="new_client_name" name="new_client_name">
        <input type="submit" value="Add new client">
    </form>
</body>
</html>