<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Word replacement</h1>
    <br>
    <form action="result" method="POST">
        <h2>Please Fill out what words will replace the placeholders</h2>
        <br>
        {% for placeholder in placeholders %}
        <lable for="{{ placeholder }}">{{placeholder}}</lable>
        <input type="text" id="{{ placeholder }}" name="{{ placeholder }}">
        <br>
        {% endfor %}
        <br>
        <input type="text" name="path" value="{{ passable }}">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>