<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Word replacement</h1>
    <br>
    <form action="result" method="POST">
        <h2>Please Fill out what words will replace the placeholders</h2>
        <br>
        {% for placeholder in placeholders %}
            <label for="{{ placeholder }}">{{ placeholder }}</label>
            {% if placeholders[placeholder] %}
                <input type="text" id="{{ placeholder }}" name="{{ placeholder }}" value="{{ placeholders[placeholder] }}">
            {% else %}
                <input type="text" id="{{ placeholder }}" name="{{ placeholder }}">
            {% endif %}
            <br>
        {% endfor %}
        <br>
        <input type="hidden" name="path" value="{{ passable }}">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>